<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
   	<script src="https://kit.fontawesome.com/db553eed8d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/cv">CV</a></li>
<li><a href="/blog">Blog</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
     <li> Note: this website was adapted from Hank Quinlan's git-pages</li>
     <li>catZ webZ</a></li>
     <img src="images/logo.jpg" alt="Carole" style="width:20%">
   </ul>
  </footer>
  </body>

</html>
