<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
   	<script src="https://kit.fontawesome.com/db553eed8d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/cv">CV</a></li>
<li><a href="/blog">Blog</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:caroleatierney@gmail.com">email</a></li>
   <li><a href="https://github.com/caroleatierney">github.com/caroleatierney</a></li>
   </ul>
  </footer>
  </body>

</html>
